@import "reset.css";
@import "variables.css";

@import "screens/main-header.css";
@import "screens/main-screen.css";
@import "screens/main-footer.css";
@import "screens/todo-app.css";
@import "screens/intro.css";

* {
    z-index: 1;
    opacity: 1;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue",
        Helvetica, Arial, sans-serif !important;
}

.background,
.background-wrapper {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    opacity: 0;
}
